body{
    font-family: 'Poppins', sans-serif;
    color:#2b003d;
    background:radial-gradient(circle at top, #cab4e2 20%, #a68ec0 80%);
    overflow-x: hidden;
}

h1,h2{
    text-align:center;
    color: #3b005b;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
p{
    max-width:800px;
    margin: 0 auto 1.5em;
    line-height: 1.7;
    font-size: 1.05rem;
    text-align:center;
}
#map{
    height: 80vh;
    width: 90%;
    margin:auto;
    border-radius:20px;
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.2);

}
button{
    width:55px;
    font-size:0.9rem;
    line-height:2;
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    color:white;
    border:none;
    background-color:#a68ec0;
    box-shadow:1px 1px 1px black,
    inset 2px 3px 5px rgba(134, 1, 229, 0.3),
    inset -2px -3px 5px rgba(177, 122, 218, 0.5);
}
button:focus,
button:hover{
    background-image:linear-gradient(to bottom right, #cab4e2, #cab4e2);
}
button:active{
    box-shadow:insetinset 2px 2px 1px black,
    inset 2px 3px 5px rgb(0 0 0 / 30%),
    inset -2px 3px 5px rgba(155, 91, 239, 0.5);
}
.stories{
    height:80vh;
    margin: 0 auto;
    max-width: 90%;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;

}